
        <div class="container" id="container">
            <div id="surveyContainer"></div>
            <div class="jumbotron" id="car-result">
            </div>
            <div id="purchase-btns" class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" id="purchase-btn">Purchase</button>
                <button type="button" class="btn btn-secondary" id="swap-btn">Swap Your Car for Another</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://surveyjs.azureedge.net/0.12.14/survey.jquery.min.js"></script>
        <script src="./assets/JS/survey.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/background.css">
