  .image {
    width: 45px;
    margin-top: 30px;
    left-margin: 50px;
}


#navbar {
			background-color: #aad523;
			border-bottom: none;
			font-family: 'Russo One', sans-serif;
			margin-right: 0px;
		    padding-right: 50px;
		    height: 100px;
        Margin-top: 0px;

}

li {	font-family: 'Acme', sans-serif;
			margin: 10px;
			padding-top: 17px;
			font-size: 18px;
			cursor: pointer;
}
h1 {
			font-family: 'Love Ya Like A Sister', cursive;
      align: center;
      margin-left: 200px;


		}
#name{
		 font-family: 'Russo One', sans-serif;
		    font-size: 40px;
        padding-top: 100px;
        margin-top: -77px;
        position: absolute;
        margin-left: 20px;
		}

.hero-container h1 {
        color: #5b5a4b;
        font-size: 3.875em;
        padding: 0 5%
      }

.hero-container  {
    margin-top: 250px;
    margin-bottom: 15px;
    position: relative;
    left: 2px;
    align-self: center;
}


.hero-container .btn, .bottom_cta .btn {
    min-width: 167px;
}
.mod {
  margin-left: 400px;
  position: absolute;
  margin-top: 45px;
  display: inline-block;
  height: 80px;
  }
  #success{
    margin-left: 190px;
    position: absolute;
    height: 55px;
  }

  #warning{
    height: 55px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background-image: url("../image/footer.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.image2{

  margin-top: -170px;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 0px;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 12%;
    text-align: center;
    width: 75%;
    height: 60%;
    overflow: auto;
    background-color: yellow;
}

.modal-content {
    Color: black;
    font-size: 28px;
    font-weight: bold;
}

.close {
    color: silver;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.signin-header{
    text-align: center;
    position: relative;
    right: 25%;
}